body {
    margin: 0%;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 100% vw;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;

}


.rectangle {

    padding: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    border-radius: 5vh;
    background-color: red;
}

.main_img {
    margin: 0%;
    background: url(../images/banner.png);
    background-size: 100% 100%;
    height: 65vh;
    width: 100vw;
}

.orangesqare {
    background-color: rgb(255, 179, 37);
    width: 40vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.welcome,
.marioclub {
    color: white;
    font-size: 9vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

li:hover {
    color: red;
}


h1 {
    color: red;
    margin-left: 1vw;
}

article {
    margin-left: 1vw;
    line-height: 2;
}

.images {
    width: auto;
    height: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(54, 54, 54);
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-top: 0%;
}

.email_field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.email_field input {
    border: none;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;

}

footer {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100% vw;
    height: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}